body {
  width: 900px;
  margin: 0 auto;
  min-width: 250px;
  height: 100%;
  background-image: url(assadofundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;

  font-size: 18px;
  transition: 0.2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

ul li:nth-child(odd) {
  background: #f9f9f9;
}

ul li:hover {
  background: #ddd;
}

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}

.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}

.close:hover {
  background-color: #f44336;
  color: white;
}

.header {
  background-color: transparent;
  padding: 30px 40px;
  color: white;
  text-align: center;
}

.header:after {
  content: "";
  display: table;
  clear: both;
}

input {
  margin-top: 5%;
  margin-left: 8%;
  border: none;
  border-radius: 0;
  width: 70%;
  padding: 10px;
  float: left;
  font-size: 16px;
}

.addBtn {
  margin-top: 5%;
  padding: 10px;
  width: 5%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
  border-radius: 0;
}

img {
  display: block;
  float: left;
  width: 25%;
  margin-top: 5%;
  margin-left: 5%;
}

.footer {
  display: none;
}

#myDIV {
  font-size: 40px;
}
.restart{
  padding: 4px 20px; 
  text-align: center;
}
.restart >button{
  color: white; 
  padding: 8px; 
  width: 80%; 
  border-radius: 10px; 
  border: 0; 
  cursor: pointer; 
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 980px) {
  body {
    width: 90%;
  }
}

@media screen and (max-width: 768px) {
  input {
    width: 60%;
    margin-left: 0;
  }

  .addBtn {
    position: relative;
    width: 8%;
  }

  img {
    margin-top: 7%;
  }

  #myDIV {
    font-size: 20px;
  }
}

@media screen and (max-width: 480px) {
  #myDIV {
    font-size: 14px;
  }
}

@media screen and (max-width: 320px) {
  #myDIV {
    font-size: 12px;
  }
}
